@font-face {
    font-family: 'BERNIERDISTRESSED';
    src: url('../fonts/BERNIERDISTRESSED-REGULAR.OTF') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
